h1, h2, h3, h4 {
	color:#ff8400;
}

p {
	font-size:1em;	
	line-height:1.4em;
}

pre {
	width:auto;
	padding:1em;
	
	/*color:#FF8400;*/
	color:#0044FF;
	font-size:1em;
	line-height:1.8em;
	
	/*background:#444444;*/
	border-top:1px solid #0044FF;
	border-bottom:1px solid #0044FF;	
}