<h1>Cheat Sheet</h1>
<span>By Code Bootcamp USA</span>
<p>This app serves 2 purposes at once.  First, as is easily seen, this app provides access to notes, suggestions, and warnings about fundamental aspects of Android development.  If you want a quick introduction, or a quick refresher without going through the official Android documentation, this app can help.  Additionally, you can find notes and details here that come from development experience which are lacking in the official documentation.</p>
<p>The 2nd purpose of this app is to act as a teaching project for Code Bootcamp USA students.  Students will learn how to build this entire app by attending a 12 hour Android code bootcamp.  You can learn more about Code Bootcamp USA by <a href="http://www.codebootcampusa.com">visiting our website</a>.</p>