<p>Intents are how you start other parts of your app, including how you start other Activity's.</p>

<p>Just to hit this point, Intents can be used to start Services and to request that certain tasks take place such as the creation of a new phone contact.  But that is beyond the scope of this app.</p>

<p>The fundamental thing you need to know about Intents is that they are used to start other Activity's.  Example:</p>

<pre class="brush:java">
<p>
// Within an Activity class
Intent intent = new Intent(this, MyNextActivity.class);
startActivity(intent);
</p>
</pre>

<p>The example above is all the code you need to launch a new Activity that is defined within the Java class called "MyNextActivity".</p>

<p>Often you will want to pass a little bit of data to the next Activity.  You accomplish sending data by using what are called "Extras" attached to the Intent:</p>

<pre class="brush:java">
// Within an Activity class
Intent intent = new Intent(this, MyNextActivity.class);
intent.putExtra("organization", "Code Bootcamp USA");
intent.putExtra("awesomeness", 10);
startActivity(intent);
</pre>

<p>In the next Activity class called MyNextActivity, you retrieve the extra data like this:</p>

<pre class="brush:java" id="testscroll">
// Within MyNextActivity class
Intent intent = getIntent();
String organization = intent.getExtras().getString("organization");
int awesomeness = intent.getExtras().getInt("awesomeness");
// do stuff
</pre>

<p>When it comes to simple Activity-to-Activity movement within your own app, that's just about all you need to know about Intent's.</p>

