<h2>Setting An Activity Layout</h2>
<p>To set an Activity's layout, you only need to use the following code once, inside the onCreate() method of the Activity.</p>

<pre>
// Within onCreate() for an Activity
setContentView(R.layout.your_layout_file_name);
</pre>

<p>Afer this it doesn't matter what other lifecycle methods your Activity goes through, the layout won't change unless you manually adjust it in code.</p>

<h2>Working With Layout Contents</h2>
<p>Once you set your layout using setContentView(), you'll probably want to grab some references to UI widgets.  For example, if you want to set the value of some visible text, or connect an action to a button press, etc. you will need to get references to those widgets:</p>

<pre>
// Within onCreate() for an Activity
myTextView = (TextView)findViewById(R.id.id_for_textview_in_xml);
myButton = (Button)findViewById(R.id.id_for_button_in_xml);
myListView = (ListView)findViewById(R.id.id_for_listview_in_xml);
</pre>

<p>The reason the above results are cast to their respective types is because findViewById() just returns a plain old View object.  But we know that what we're getting back is actually a TextView, or a Button, or a ListView, so we manually cast it.  The parameter passed into the findViewById() method is a reference to the ID you typed into the XML file.</p>

<p>Once you have references to your view widgets you can start doing whatever you want.  You can connect an adapter to your ListView, you can set the text in TextViews, you can set the click response for Buttons, whatever you need.  Some of these actions should take place in special locations in the Activity lifecycle.  Check out the Lifecycle section to learn more about that.</p>