<p>Please read the "Menus > XML Definitions" section before this one.</p>

<p>The following is an example of how to generally work with menus in an Activity:</p>

<pre>
@Override
public boolean onCreateOptionsMenu(Menu menu)
{
  // Retrieve MenuInflater from Activity
  MenuInflater inflater = getMenuInflater();
  
  // Inflate your XML menu - in this case it is
  // /res/menu/main_menu.xml
  inflater.inflate(R.menu.main_menu, menu);
  
  // Return true to signify that we want this menu
  // to be displayed, if you return false, it won't be.
  return true;
}
	
@Override
public boolean onOptionsItemSelected(MenuItem item)
{
  // Every MenuItem has an ID available through item.getItemId().  For
  // menus defined in XML, you set this ID explicitly.  When a menu option
  // is selected, you check to see if its an option you care about.  If so,
  // handle it.  If not, call the super method in case our super class cares
  // what was pressed.
  
  switch(item.getItemId())
  {
  case R.id.menu_item_settings:
    // Start settings activity
	return true;
  case R.id.menu_item_website:
    // Open our website
    return true;
  default:
    // Its not an option we care about, send it up to super class
    return super.onOptionsItemSelected(item);
  }
}
</pre>

<p>The comments in the code above should clearly explain the functionality.  In a nutshell, the Activity class defines 2 methods which are important for handling options menus:</p>

<ul>
  <li>onCreateOptionsMenu(): Invoked when the Activity decides it needs a menu.  You are to add your menu items to the menu Android provides you with.  The reason you add items to an existing menu, rather than create a new one, is so that other parts of the system can also add items to the menu.  This becomes more significant as you get to advanced UIs, but for now you can generally ignore that aspect.</li>
  <li>onOptionsItemSelected(): The user has selected an option from a menu.  You check the menu items ID to see if you care about it.  If so, do something with it, otherwise just call the super method.</li>
</ul>