<p>Menu XML definitions go in:</p>

<pre>/res/menu</pre>

<p>Here is an example menu XML file:</p>

<pre>
&lt;?xml version=&quot;1.0&quot; encoding=&quot;utf-8&quot;?&gt;
&lt;menu xmlns:android=&quot;http://schemas.android.com/apk/res/android&quot; &gt;
    &lt;item android:id=&quot;@+id/menu_item_settings&quot; android:icon=&quot;@android:drawable/ic_menu_preferences&quot; android:title=&quot;Settings&quot;&gt;&lt;/item&gt;
    &lt;item android:id=&quot;@+id/menu_item_website&quot; android:title=&quot;Visit Website&quot; android:titleCondensed=&quot;Website&quot; android:icon=&quot;@android:drawable/ic_menu_info_details&quot;&gt;&lt;/item&gt;
&lt;/menu&gt;
</pre>

<p>Like all XML files, Menu XML files must be "inflated," which is the Android word for deserializing XML into objects.  For this purpose there is a class called MenuInflater that you can request from an Activity:</p>

<pre>
// Within an Activity
MenuInflater inflater = getMenuInflater();
inflater.inflate(R.menu.main_menu, menu);
</pre>

<p>The MenuInflater works a bit differently than a LayoutInflater.  Where a LayoutInflater returns a new View to you, the MenuInflater accepts a Menu object and then proceeds to fill that menu object with the menu items in the XML file.  In the example above, the MenuInflater takes all of the menu items from the res/menu/main_menu.xml file and sticks them in the Menu object called "menu".</p>

