<p>All layout files go in:</p>

<pre>/res/layout</pre>

<p>No subdirectories are allowed.</p>

<p>Start each layout with a containing View such as:</p>

<ul>
	<li>FrameLayout</li>
	<li>LinearLayout</li>
	<li>RelativeLayout</li>
	<li>ScrollView</li>
	<li>ListView</li>
	<li>GridView</li>
	<li>etc</li>
</ul>

<p>See the Views section for more details on the above Views</p>