<p>There are 2 major reasons to not hard-code your text into your views:</p>
<ul>
  <li>If the text appears in many places, you will have to change it in many places.</li>
  <li>If you decide to support other languages, you will be unable to do so with hard-coded text.</li>
<ul>

<p>For both of these reasons, Android provides an XML file called strings.xml which goes in your /values directory.  A given string definition might look like this:</p>

<pre>
&lt;string name="app_name"&gt;Cheat Sheet&lt;/string&gt;
</pre>

<p>To utilize this string in an XML layout:</p>

<pre>
// Instead of
android:label="Cheat Sheet"

// Use
android:label="@string/app_name"
</pre>

<p>You can even access string parameters in code, but that is beyond the scope of this instruction.</p>