<p>To write to SharedPreferences you must first get a reference to the SharedPreferences:</p>

<pre>
// Within an Activity
SharedPreferences prefs = getSharedPreferences("cheat_sheet", Context.MODE_PRIVATE);
</pre>

<p>Then you need to get a reference to that SharedPreferences's Editor:</p>

<pre>
SharedPreferences.Editor editor = prefs.edit();
</pre>

<p>Finally, you can put values in the SharedPreferences:</p>

<pre>
editor.putString("firstName", "Matt");
</pre>

<p>Don't ever forget to commit() your changes or they will disappear:</p>

<pre>
editor.commit();
</pre>

<p>When you get comfortable with how the editing process works, you'll want to take advantage of method chaining and do the whole thing at once:</p>

<pre>
getSharedPreferences("cheat_sheet", Context.MODE_PRIVATE).edit().putString("firstName", "Matt").commit();
</pre>