<h2>Preferences vs Shared Preferences</h2>

<p>It sounds like Shared Preferences would be something that all apps can access, right?  What else could "shared" mean?</p>

<p>Actually, Shared Preferences are preferences that are "shared" between Activitys in your app.  So other apps can't access your Shared Preferences, but your other Activitys can.  The alternative to Shared Preferences is just regular Preferences which can only be read and written by the same Activity.</p>

<p>Hence, if have a SettingsActivity where you write to Preferences, the only Activity that will be able to read back those preferences is the SettingsActivity.  Not very useful, huh?  I'm sure there are times where Preferences are exactly what you want, but in general what you should use are SharedPreferences.</p>


<h2>Access Permissions</h2>

<p>When you request access to SharedPreferences, you to the system what permission mode you want:</p>

<pre>
// Within an activity
getSharedPreferences("cheat_sheet", Context.MODE_PRIVATE);

// Or
getSharedPreferences("cheat_sheet", Context.MODE_WORLD_READABLE);

// Or
getSharedPreferences("cheat_sheet", Context.MODE_WORLD_WRITEABLE);
</pre>

<p class="warning">NOTE: Both MODE_WORLD_READABLE and MODE_WORLD_WRITEABLE permissions have been deprecated, meaning they are being phased out.  This is because they create an unnecessary security vulnerability.  Always use MODE_PRIVATE.</p>