<p>To read values from SharedPreferences you must first obtain a reference to your app's SharedPreferences:</p>

<pre>
// Within an Activity
getSharedPreferences("cheat_sheet", Context.MODE_PRIVATE);
</pre>

<p>See "Menus > Permissions" to learn about the MODE_PRIVATE flag passed in.</p>

<p>Notice the first parameter, "cheat_sheet".  You should give each major group of your SharedPreferences their own name.  The effect is that the preferences are stored in a file with the given name, but that implementation detail won't effect how you work with preferences.  To you its just an organizational aspect.  It can be nice to have different groups of preferences so that you don't run into naming conflicts.</p>

<p>Once you have a reference to SharedPreferences you can read individual values from it by name:</p>

<pre>
SharedPreferences prefs = getSharedPreferences("cheat_sheet", Context.MODE_PRIVATE);
String firstName = prefs.getString("firstName", null);
</pre>