<p>A RelativeLayout gives you a lot of power to place things in all sorts of positions within itself, and in relation to other children.</p>

<p>First, let's look at all the ways you can orient a child within the parent RelativeLayout:</p>

<ul>
	<li>android:align_parent_bottom</li>
	<li>android:align_parent_end</li>
	<li>android:align_parent_left</li>
	<li>android:align_parent_right</li>
	<li>android:align_parent_start</li>
	<li>android:align_parent_top</li>
	<li>android:center_horizontal</li>
	<li>android:center_in_parent</li>
	<li>android:center_vertical</li>
</ul>

<p>These alignment properties should be self explanatory for a child of a RelativeLayout.  To use one of them, just set it ="true" in a given child element and it will take effect.</p>

<p>The greater power of a RelativeLayout is the ability to arrange one child <strong>relative</strong> to another child.  The following properties can be applied to one child in relation to another:</p>

<ul>
	<li>android:above="@id/otherChild"</li>
	<li>android:below="@id/otherChild"</li>
	<li>android:align_baseline="@id/otherChild"</li>
	<li>android:align_start="@id/otherChild"</li>
	<li>android:align_end="@id/otherChild"</li>
	<li>android:align_left="@id/otherChild"</li>
	<li>android:align_right="@id/otherChild"</li>
	<li>android:align_top="@id/otherChild"</li>
	<li>android:align_bottom="@id/otherChild"</li>
	<li>android:start_of="@id/otherChild"</li>
	<li>android:end_of="@id/otherChild"</li>
	<li>android:left_of="@id/otherChild"</li>
	<li>android:right_of="@id/otherChild"</li>
</ul>

<p>These properties should, again, be self-explanatory.  The primary difference in usage between these properties and the ones discussed above is that instead of using ="true" with each property, you need set it equal to the ID of the other child it relates to.  If you have one child with an ID of "logo" and you want a TextView to sit to the right of the logo, then you would say:</p>

<pre>
android:right_of="@id/logo"
</pre>

<p>Take a look at the title bar of this app and guess how the title got placed next to the logo!</p>

<h2>Trap</h2>

<p>Whenever you are referencing the ID of another child using the layout properties, make sure that other child is declared first, so that its ID exists for your reference.  For example, this will not work:</p>

<pre>
&lth;-- Will NOT work --&gt;
&lt;Widget1
	...
	android:above="@id/splash_image"
	/&gt;
&lt;Widget2
	android:id="@+id/splash_image"
	...
	/&gt;
</pre>

<p>Instead, just re-order the children:</p>

<pre>
&lth;-- This WILL work --&gt;
&lt;Widget2
	android:id="@+id/splash_image"
	...
	/&gt;
&lt;Widget1
	...
	android:above="@id/splash_image"
	/&gt;
</pre>

<p>If you absolutely have to declare the related child first, you can use the following technique to make it work.  The first occurence of an ID must use the "@+id" notation, so by moving that notation from Widget2 to Widget1, we correct the issue, but its harder for a developer like you and me to notice as we read through the code:</p>

<pre>
&lth;-- Altered form of first example, WILL work. --&gt;
&lt;Widget1
	...
	android:above="@+id/splash_image"
	/&gt;
&lt;Widget2
	android:id="@id/splash_image"
	...
	/&gt;
</pre>

<h2>In Real Life</h2>

<p>The Splash screen, the Title Bar, the Grid Items and List Items layouts of this app all make use of the RelativeLayout.</p>