<p>The process for using a GridView is 99% identical to that of using a ListView.  If you haven't already, go read the ListView section, then come back here for the few adjustments.</p>

<p>GridViews run on ListAdapters just like ListViews, so that entire aspect of the process is absolutely the same as for ListViews.  In fact, the only point of difference when using a GridView is that your item views are shown in multiple columns instead of just one column (think of a list as a single column of stuff).</p>

<p>To prove it, here is what went into the GridView used in this app:</p>

<h3>Setup in Activity's onCreate():</h3>
<pre>
gridAdapter = new CategoryGridAdapter(this);
gridView = (GridView)findViewById(R.id.categories);
gridView.setAdapter(gridAdapter);
gridView.setOnItemClickListener(new OnItemClickListener() 
{
  @Override
  public void onItemClick(AdapterView<?> gridView, View itemView, int position, long id) 
  {
    // do stuff when item is clicked
  }
});
</pre>

<p>The above code should strike you as virtually identical to the ListView code.</p>

<h3>Custom ListAdapter</h3>
<p>I'm not even going to bother showing the adapter implementation because it really is virtually identical to the ListView's, it just uses a different XML layout for its items.</p>

<h3>Grid Item Layout</h3>
<pre>
&lt;?xml version="1.0" encoding="utf-8"?&gt;
&lt;com.cbusa.cheatsheet.layouts.SquareRelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:padding="15dp"
    android:background="@drawable/category_bk"&gt;

    &lt;TextView
        android:id="@+id/title"
        android:layout_width="match_parent"
        android:layout_height="match_parent"
        android:layout_centerHorizontal="true"
        android:layout_centerVertical="true"
        android:gravity="center"
        android:text="TextView"
        android:textSize="26sp"/&gt;

&lt;/com.cbusa.cheatsheet.layouts.SquareRelativeLayout&gt;
</pre>

<p>The layout should seem pretty normal to you as well, except you probably don't have any idea what "com.cbusa.cheatsheet.layouts.SquareRelativeLayout" is.  Well, did you know that GridView's don't make their items square by default?  The default presentation of a GridView really is like multiple lists sitting next to one another.  But that's boring, so I created a custom version of RelativeLayout that forces itself to be square.  That's how the grid items on the home screen of this app work.  Unfortunately, custom View code is beyond the scope of this instruction.</p>

<p>If you're desparate to have square-like views, you can set an explicit height in your layout XML.  Instead of "match_parent" like I have above, you could set the height at "50dp", or any other value of your choosing.</p>