<p>A FrameLayout is the simplest layout you can use.  It is intended to be filled with a single child, but technically you can add multiple children if you want.  One reason you might want to add multiple children is to stack them on top of one another, the way that a picture frame sits on top of glass which sits on top of a photograph.</p>

<p>The only positioning controls you have with a FrameLayout is to give its child or children a "layout_gravity".</p>