<p>The LinearLayout is possibly the most common layout used in Android.  As the name implies, a LinearLayout sticks its children in either a horizontal row, a vertical column.  You can choose which one by setting:</p>

<pre>
android:orientation="horizontal"
// or
android:orientation="vertical"
</pre>

<p>If you are dealing with a vertical series of text boxes and buttons, it is likely that those elements are in a LinearLayout.</p>

<h2>Layout Weights</h2>

<p>What if you want multiple children to be sized relative to other children?  That's what layout weights are for.  Assume you have 3 children like below, and assume we're working with a vertical LinearLayout:</p>

<pre>
&lt;LinearLayout
	android:layout_width="match_parent"
	android:layout_height="match_parent"
	android:orientation="vertical"
	/&gt;
&lt;SomeWidget
	...
	android:layout_width="match_parent"
	android:layout_height="0dp"
	android:layout_weight="1"
	...
	/&gt;
&lt;SomeWidget2
	...
	android:layout_width="match_parent"
	android:layout_height="0dp"
	android:layout_weight="1"
	...
	/&gt;
&lt;SomeWidget3
	...
	android:layout_width="match_parent"
	android:layout_height="0dp"
	android:layout_weight="2"
	...
	/&gt;
&lt;/LinearLayout&gt;
</pre>

<p>The LinearLayout is going to stretch all 3 of these widgets to take up all of the available vertical space.  More specifically, the 1st and 2nd widget will be the same height, and the 3rd widget will be twice as tall as each of the first widgets.  Can you see why?</p>

<p>Even though all 3 widgets are given a height of "0dp", they are also given a "layout_weight".  In LinearLayouts, when the height is set to 0 and a layout_weight is given, the weight is used to calculate the final height.  Each weight is calculated in relation to the other child weights.</p>

<p>So when SomeWidget3 has a weight of "2" and SomeWidget2 has a weight of "1", SomeWidget3's height is 2:1 that of Widget2, or twice the height.  But then SomeWidget1 and SomeWidget2 both have a weight of "1", so they are equally as tall.</p>

<p>You can use any numbers for weights that you want, whether its 0.01, 0.1, 1, or 1000 - because they are all relative to each other.  Additionally, you can mix children that have layout weights with children that have regular layouts like "wrap_content" or "35dp".</p>

<h2>Tricky Situation</h2>

<p>One interesting situation arises when you have a few elements in your LinearLayout and you want the last element in the group to take up all the remaining room.  Maybe the last element is a cap on a horizontal group of buttons.  Or maybe the last element is some cute graphical end to a form.</p>

<p>The <strong>wrong</strong> approach that many people try at first is to set the last child's height to "match_parent":</p>

<pre>
&lt;!-- Wrong way to take up available space --&gt;
&lt;SomeWidget
	...
	android:layout_height="match_parent"
	...
	/&gt;
</pre>

<p>This solution doesn't work because "match_parent" makes the child as tall as the entire layout.  But you don't want that, you just want it to take up whatever space is available at the end.  For this we make use of "layout_weight".  By giving your last child a height of "0dp" and assigning it the only "layout_weight" in the group, it will automatically adjust to fill available space:</p>

<pre>
&lt;!-- Correct way to take up available space --&gt;
&lt;SomeWidget
	...
	android:layout_height="0dp"
	android:layout_weight="1"
	...
	/&gt;
</pre>

<p>As long as that final child is the <strong>only</strong> element of the group with a "layout_weight" defined, the above will work.  If you use layout weights with other children of the layout, then you will need to take those values into account when assigning the final child's weight.</p>

<h2>Don't Forget</h2>

<p>Just because a LinearLayout organizes things in a line, doesn't mean that it scrolls.  In fact, it doesn't scroll at all.  If you want a bunch of children in a LinearLayout to scroll when they get too big, you'll need to wrap it with a ScrollView.</p>