<p>ScrollViews give you....scrolling.  LinearLayouts, RelativeLayouts, and FrameLayouts all lack the concept of scrolling.  If you want overflow of any view to scroll, you need to wrap it in a ScrollView:</p>

<pre>
&lt;ScrollView
  android:layout_width="match_parent"
  android:layout_height="match_parent"
  &gt;
  &lt;LinearLayout
    android:layout_width="match_parent"
    android:layout_height="wrap_content"
    android:orientation="vertical"
    &gt;
    
    &lt;-- Lots of elements in the LinearLayout --&gt;
  
  &lt;/LinearLayout&gt;
 &lt;/ScrollView&gt;
</pre>

<p>In the above example, if the LinearLayout is taller than the surrounding ScrollView, the user will be able to scroll up and down as needed.</p>

<p>You can similarly wrap any view with a ScrollView, though a LinearLayout is probably the most popular choice for content.</p>

<h2>Trap</h2>

<p>It may be tempting to start off with a ScrollView and a LinearLayout to show a list of items, but there is a much better choice for that: ListView.  A ListView is quite a bit more complex, but it is designed specifically to scroll sets of related data.  If what you really have is a list, go with a ListView.</p>